figures/figures/*
figures/files/*
properties/
__pycache__/
data/
inductive-biases-g4-bogdan/
jobs/
predicting-venv/
wandb/
results/
rl_results/
lightning_logs
.vscode/
*.code-workspace
test_model/
tests/rl_config.yaml
lvwerra/
EleutherAI/
ckpts/
warmup_results/
